.progress-bar {
    padding: 20px 0;
    width: 100%;
    font-size: 0;

    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
}

.progress-step {
    position: relative;
    padding: 10px 40px;
    display: inline-block;
    width: 100%;
    background-color: darken($white, 10%);
    color: darken($white, 40%);
    border-top: 4px solid darken($white, 20%);
    transition: color 300ms ease-in-out;        

    text-align: center;
    font-size: 14px;

    &:before {
        content: '';
        display: block;
        position: absolute;
        top: -4px;
        left: 0;
        height: 4px;
        width: 100%;
        background-color: $grass-green;
        opacity: 0;

        transition: opacity 300ms ease-in-out;        
    }

    &:first-of-type,
    &.complete {
        color: $black;

        &:before {
            opacity: 1;
            // width: 100%;
        }        
    }
}

