.step-container {

    .js-enabled & {
        display: none;
        opacity: 0;
        transition: opacity 600ms ease-in-out;
    }

    &.in {
        display: block;
    }

    &.show {
        opacity: 1;
    }
}

.step-content {
    margin-bottom: 20px;
}

.step-controls {
    
    .step-prev {
        float: left;
        margin-right: 10px;
    }
    .step-next {
        float: left;
    }
}

.hint {
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;

    &:before {
        content: 'i';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 10px;
        color: white;
        font-weight: 700;
    }

    &:after {
        content: attr(data-info);
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: 105%;
        width: auto;
        background-color: #F8F8F8;
        padding: 4px 4px;
        color: $black;
        white-space: nowrap;
        display: none;
    }

    &:hover {
        &:after {
            display: inline-block;
        }
    }
}

label.error {
    display: block;
}