{% extends "layout.html" %}

{% block page_title %}
  My application
{% endblock %}

{% block content %}
<main id="content" role="main">

	<div class="grid-row">
		<div class="column-full">
			<header>
				<h2 class="heading-large">My application</h2>
			</header>

			<table>
				<thead>
					<tr>
						<th>Ref</th>
						<th>Date submitted</th>
						<th>Status</th>
						<th></th>
					</tr>
				</thead>
				<tr>
					<td>M123</td>
					<td>11/02/2017</td>
					<td>Valid</td>
					<td><a href="#">View</a></td>
				</tr>
				<tr>
					<td>L456</td>
					<td>06/01/2018</td>
					<td>Allocated</td>
					<td><a href="#">View</a></td>
				</tr>
			</table>
		</div>
	</div>
</main>
{% endblock %}