{% extends "layout.html" %}

{% block page_title %}
  Date of LPA decision
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'components/top-bar.html' %}

	<div class="acp-form-container" data-progress="3">
		{% include 'components/progress-bar.html' %}

		<div class="grid-row">
			<div class="column-full">
				<header>
					<h2 class="heading-large">Date of LPA decision</h2>
				</header>

				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
						Message to alert the user to a problem goes here
					</h2>

					<p>Optional description of the errors and how to correct them</p>

					<ul class="error-summary-list">
						<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
					</ul>
				</div>

				<form action="/create-appeal" method="get" class="form">
					<div class="form-group">
						<fieldset class="">
							<legend class="visually-hidden">Choose one of the following</legend>

							{# <div class="multiple-choice">
								<input id="dateLPAYes" type="radio" name="dateLPA" value="true">
								<label for="dateLPAYes">Yes</label>
							</div>

							<div class="multiple-choice">
								<input id="dateLPANo" type="radio" name="dateLPA" value="false">
								<label for="dateLPANo">No</label>
							</div> #}

							<div class="form-group form-elem-container">
								<div class="form-date">
									<label class="form-label" for="lpa-date">Appeal date</label>
									<input class="form-control datepicker" id="lpa-date" name="appeal-date" type="text" value="{{data['appeal-date']}}" data-rule-required="true">
									<span class="error-container"></span>
								</div>
							</div>

						</fieldset>
					</div>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

{% endblock %}