{% extends "layout.html" %}

{% block page_title %}
  Step C
{% endblock %}

{% block content %}
<main id="content" role="main">
	<div class="grid-row">
		{% include 'components/top-bar.html' %}
	</div>

	<div class="acp-form-container" data-progress="9">
		<div class="grid-row">
			<div class="column-full">
				<header>
					<h2 class="heading-large">Your application Ref M123</h2>
				</header>

				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
						Message to alert the user to a problem goes here
					</h2>

					<p>Optional description of the errors and how to correct them</p>

					<ul class="error-summary-list">
						<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
					</ul>
				</div>

				<div class="step-container in show" data-index="3">
					<form action="/thank-you" method="get" class="form">
						<h2 class="heading-medium">Personal details</h2>

						<div class="form-group">
							<dl class="govuk-check-your-answers cya-questions-short">
								<div>
									<dt class="cya-question">
										Appeal date
									</dt>
									<dd class="cya-answer">
										{{data['day']}} / {{data['month']}} / {{data['year']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/date-lpa">
										Change<span class="visually-hidden"> appeal date</span>
										</a> #}
									</dd>
								</div>
								<div>
									<dt class="cya-question">
										Applicant name
									</dt>
									<dd class="cya-answer">
										{{data['first-name']}} {{data['surname']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> applicant name</span>
										</a> #}
									</dd>
								</div>

								<div>
									<dt class="cya-question">
										Company name
									</dt>
									<dd class="cya-answer">
										{{data['company-name']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> company name</span>
										</a> #}
									</dd>
								</div>

								<div>
									<dt class="cya-question">
										Address
									</dt>
									<dd class="cya-answer">
										{% if data['address-line-1'] %}{{data['address-line-1']}},{% endif %}
										{% if data['address-line-1'] %}{{data['address-line-2']}},{% endif %}
										{% if data['address-line-1'] %}{{data['address-city']}}{% endif %}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> address</span>
										</a> #}
									</dd>
								</div>

								<div>
									<dt class="cya-question">
										Postcode
									</dt>
									<dd class="cya-answer">
										{{data['postcode']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> postcode</span>
										</a> #}
									</dd>
								</div>

								<div>
									<dt class="cya-question">
										Email
									</dt>
									<dd class="cya-answer">
										{{data['email']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> email</span>
										</a> #}
									</dd>
								</div>
								<div>
									<dt class="cya-question">
										Daytime telephone
									</dt>
									<dd class="cya-answer">
										{{data['daytime-telephone']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> daytime telephone</span>
										</a> #}
									</dd>
								</div>

								<div>
									<dt class="cya-question">
										Fax
									</dt>
									<dd class="cya-answer">
										{{data['fax']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> fax</span>
										</a> #}
									</dd>
								</div>

								<div>
									<dt class="cya-question">
										Would like to be contacted by
									</dt>
									<dd class="cya-answer">
										{{data['contact-preference']}}
									</dd>
									<dd class="cya-change">
										{# <a href="/form-step-b.html">
										Change<span class="visually-hidden"> fax</span>
										</a> #}
									</dd>
								</div>
							</dl>
						</div>

						<h2 class="heading-medium">Uploaded documents</h2>

						<dl class="govuk-check-your-answers cya-questions-short">
							{% for thumbnail in thumbnails %}
							<div>
								<dt class="cya-question">
									{{thumbnail.title}}
								</dt>
								<dd class="cya-answer">
									Uploaded document
								</dd>
								<dd class="cya-change">
									<a href="/form-step-c.html">
									Change<span class="visually-hidden"> document</span>
									</a>
								</dd>
							</div>
							{% endfor %}				
						</dl>						
					</form>
				</div>
			</div>
		</div>
	</div>
</main>
{% endblock %}