{% extends "layout.html" %}

{% block page_title %}
  Upload your files
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'components/top-bar.html' %}

	<div class="acp-form-container" data-progress="7">
		{% include 'components/progress-bar.html' %}

		<div class="grid-row">
			<div class="column-full">
				<header>
					<h2 class="heading-large">Appellant details</h2>
				</header>

				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
						Message to alert the user to a problem goes here
					</h2>

					<p>Optional description of the errors and how to correct them</p>

					<ul class="error-summary-list">
						<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
					</ul>
				</div>

				<form action="/form-step-c" method="get" class="form">

					<div class="form-group form-elem-container">
						<label class="form-label" for="person-name">First name</label>
						<input class="form-control" id="person-name" name="first-name" type="text" value="{% if data['first-name'] %}{{data['first-name']}}{% else %}John{% endif %}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="surname">Surname</label>
						<input class="form-control" id="surname" name="surname" type="text" value="{% if data['surname'] %}{{data['surname']}}{% else %}Smith{% endif %}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="company-name">Company</label>
						<input class="form-control" id="company-name" name="company-name" type="text" value="{% if data['company-name'] %}{{data['company-name']}}{% else %}John Smith Bitter Ltd{% endif %}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="address-line-1">Address line 1</label>
						<input class="form-control" id="address-line-1" name="address-line-1" type="text" value="{% if data['address-line-1'] %}{{data['address-line-1']}}{% else %}Temple Quay House{% endif %}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="address-line-2">Address line 2</label>
						<input class="form-control" id="address-line-2" name="address-line-2" type="text" value="{% if data['address-line-2'] %}{{data['address-line-2']}}{% else %}2 The Square{% endif %}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="address-city">City</label>
						<input class="form-control" id="address-city" name="address-city" type="text" value="{% if data['address-city'] %}{{data['address-city']}}{% else %}Bristol{% endif %}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="postcode">Postcode</label>
						<input class="form-control" id="postcode" name="postcode" type="text" value="{% if data['postcode'] %}{{data['postcode']}}{% else %}BS16PN{% endif %}" data-rule-required="true" data-rule-postcodeUK="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="email">Email</label>
						<input class="form-control" id="email" name="email" type="text" value="{% if data['email'] %}{{data['email']}}{% else %}john.smith@bitter.com{% endif %}" data-rule-required="true" data-rule-email="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="daytime-telephone">Daytime telephone</label>
						<input class="form-control" id="daytime-telephone" name="daytime-telephone" type="numeric" value="{% if data['daytime-telephone'] %}{{data['daytime-telephone']}}{% else %}07827880045{% endif %}" data-rule-phonesUK="true" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="fax">Fax</label>
						<input class="form-control" id="fax" name="fax" type="numeric" pattern="" value="{{data['fax']}}" data-rule-number="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="contact-preference">How would you prefer to be contacted?</label>				
						<div class="multiple-choice">
							<input id="contactPreferenceEmail" type="radio" name="contact-preference" value="Email" data-rule-required="true" {% if data['contact-preference'] == 'Email' or data['contact-preference'] == null %}checked{% endif %}>
							<label for="contactPreferenceEmail">Email</label>
						</div>

						<div class="multiple-choice">
							<input id="contactPreferencePhone" type="radio" name="contact-preference" value="Phone" value="{{data['contact-preference']}}" data-rule-required="true" {% if data['contact-preference'] == 'Phone' %}checked{% endif %}>
							<label for="contactPreferencePhone">Phone</label>
						</div>

						<div class="multiple-choice">
							<input id="contactPreferenceEmail" type="radio" name="contact-preference" value="SMS" data-rule-required="true" {% if data['contact-preference'] == 'SMS' %}checked{% endif %}>
							<label for="contactPreferenceEmail">SMS</label>
						</div>
					</div>

					{# <div class="form-group form-elem-container">
						<div class="form-date">
							<label class="form-label" for="date">Date</label>
							<input class="form-control datepicker" id="date" name="date" type="text" value="{{data['date']}}" data-rule-required="true">
							<span class="error-container"></span>
						</div>
					</div> #}

					{# <div class="form-group form-elem-container">
						<div class="form-date">
							<div class="form-group form-group-day">
								<label class="form-label" for="day">Day</label>
								<input class="form-control" id="day" name="day" type="number" pattern="[0-9]*" value="{{data['day']}}" data-rule-required="true" data-rule-minlength="2" data-rule-maxlength="2">
							</div>
							<div class="form-group form-group-month">
								<label class="form-label" for="month">Month</label>
								<input class="form-control" id="month" name="month" type="number" pattern="[0-9]*" value="{{data['month']}}" data-rule-required="true" data-rule-minlength="2" data-rule-maxlength="2">
							</div>
							<div class="form-group form-group-year">
								<label class="form-label" for="year">Year</label>
								<input class="form-control" id="year" name="year" type="number" pattern="[0-9]*" value="{{data['year']}}" data-rule-required="true" data-rule-minlength="4" data-rule-maxlength="4">
							</div>
						</div>
						<span class="error-container"></span>
					</div> #}

					
					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

{% endblock %}