{% extends "layout.html" %}

{% block page_title %}
  Form
{% endblock %}

{% block content %}

<main id="content" role="main">
	{% include 'components/top-bar.html' %}

	<div class="acp-form-container" data-progress="6">
		{% include 'components/progress-bar.html' %}
		<div class="grid-row">
			<div class="column-full">
				<header>
					<h2 class="heading-large">Uploading documents</h2>
				</header>

				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
						Message to alert the user to a problem goes here
					</h2>

					<p>Optional description of the errors and how to correct them</p>

					<ul class="error-summary-list">
						<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
					</ul>
				</div>

				<form action="/form-step-b" method="get" class="form">

					{# <div class="form-group form-elem-container">
						<label class="form-label" for="person-name">Your name</label>
						<input class="form-control" id="person-name" name="person-name" type="text" value="{{data['person-name']}}" data-rule-required="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="email">Email</label>
						<input class="form-control" id="email" name="email" type="text" value="{{data['email']}}" data-rule-required="true" data-rule-email="true"> 
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<label class="form-label" for="postcode">Postcode</label>
						<input class="form-control" id="postcode" name="postcode" type="text" value="{{data['postcode']}}" data-rule-required="true" data-rule-postcodeUK="true"> 
						<span class="error-message" data-valmsg-for="postcode" data-valmsg-replace="true"></span>
						<span class="error-container"></span>
					</div>

					<div class="form-group form-elem-container">
						<div class="form-date">
							<label class="form-label" for="date">Date</label>
							<input class="form-control datepicker" id="date" name="date" type="text" value="{{data['date']}}" data-rule-required="true">
							<span class="error-container"></span>
						</div>
					</div> #}

					<div class="summary-info">
						<p>Any supporting documentation rather than that listed in Section J should be kept to a minimum and be essential and directly relevant to the appeal. Such documentation should be clearly cross-referenced in the full statement of case and must be provided when you make your appeal.</p>

						<p>You may provide appendices to your full statement of case. These include reports and information that relate directly to the reasons for refusal and any issues that are in dispute. Appendices should be used sparingly and they must be sent with your full statement of case.</p>

						<p>You need to remember that there is no opportunity later in the appeals process for you to send further information.</p>

						<p>Do not send copies of the Delegated Officer's Report, or the Committee Report, and other documents sent to the LPA, such as consultation responses and letters from interested people, as the LPA will provide these. You may use photographs (preferably colour) to illustrate your full statement of case - e.g. to show your house and its relationship to its neighbours. If you send photographs you must give details of where they are taken on a map showing the viewpoints, and when and what they show. If you take photographs in public places please take reasonable care to respect the privacy of individuals whose images you may inadvertently capture.</p>
						
					</div>

					<div class="form-group form-elem-container">			
						<div class="multiple-choice">
							<input type="checkbox" id="confirm" name="confirm" data-rule-required="true">
							<label class="form-label" for="confirm">By checking this box I agree that I have read the above information.</label>
						</div>
						<span class="error-container"></span>						
					</div>	

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
				</form>
			</div>
		</div>
	</div>
</main>

{% endblock %}