{% extends "layout.html" %}

{% block page_title %}
  Reason for the appeal
{% endblock %}

{% block content %}

<main id="content" role="main">
	<div class="grid-row">
		
		{% include 'components/top-bar.html' %}
	</div>
	<div class="acp-form-container" data-progress="2">
		<div class="grid-row">
			<div class="column-full">
				<header>
					<h2 class="heading-large">Reason for the appeal</h2>
				</header>

				<div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
					<h2 class="heading-medium error-summary-heading" id="error-summary-heading-example-1">
						Message to alert the user to a problem goes here
					</h2>

					<p>Optional description of the errors and how to correct them</p>

					<ul class="error-summary-list">
						<li><a href="#example-personal-details">Descriptive link to the question with an error</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div class="grid-row">
			<div class="content-block column-full">
				<div class="form-group form-elem-container">
					<legend class=""><h3 class="heading-small">The reason for the appeal is that the LPA has:</h3></legend>

					{# <ul> #}
					<form action="/enforcement-notice" method="get" class="form">
						<div class="form-group">
						
						{% for reason in reasons %}

						<div class="multiple-choice">
							<input id="stepB{{loop.index}}" type="radio" name="step" value="stepB" data-rule-required="true">
							<label for="stepB{{loop.index}}">{{reason.title}}</label>
						</div>

							{# <li>
								<a href="/date-lpa" class="tile">
									{{reason.title}}
								</a>
							</li> #}
						{% endfor %}
						</div>

					<div class="form-group">
						<input type="submit" class="button" value="Save and continue">
					</div>
					</form>
					{# </ul> #}
				</div>
			</div>
		</div>
	</div>
</main>

{% endblock %}